<div class="wedding-register__container">

  <div class="wedding-register__inner-container">

    <div class="d-flex gap-3 align-items-center">
      <div class="wedding-register__separator"></div>
      <h2 class="m-0 text-center">ANNA OMA TULEKUST TEADA</h2>
      <div class="wedding-register__separator"></div>
    </div>

    <p class="m-0 text-center">
      Palume oma tulekusest ja ööbimissoovist teada anda hiljemalt 01.07.2024 klikates alloleval nupul.
    </p>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSenrJ0ZAbVsZY0N6WNkwKFrUASG8R4f3wUG_6N2fa6Qs-H8Fg/viewform?usp=sharing"
      target="_blank"
      class="button"
    >
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">Google Forms</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>

  </div>

</div>
