.wedding-header__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-image: url("../../../assets/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 20rem;
}

.wedding-header__text {
  color: #ffffff;
  font-size: 1.5rem;
}


@media screen and (min-width: 600px) {
  .wedding-header__text {
    font-size: 2rem;
  }
  .wedding-header__container {
    height: 25rem;
  }
}

@media screen and (min-width: 1000px) {
  .wedding-header__text {
    font-size: 2.5rem;
  }
  .wedding-header__container {
    height: 30rem;
  }
}

@media screen and (min-width: 1700px) {
  .wedding-header__text {
    font-size: 3.5rem;
  }
  .wedding-header__container {
    height: 40rem;
  }
}
