.wedding-timetable__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a3b295;
}

.wedding-timetable__header-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.wedding-timetable__header-line {
  width: 5rem;
  border-top: solid 1px #a3b295;
  box-sizing: border-box;
}

.wedding-timetable__cards-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
}

.wedding-timetable__card {
  padding: 3rem 5rem 5rem 5rem;
  background: #ece0e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.wedding-timetable__card-information-text {
  text-align: center;
  margin: 0;
}

.wedding-timetable__card-separator {
  border-top: solid 1px #a3b295;
  width: 30%;
  box-sizing: border-box;
  margin: 2rem 0;
}


.wedding-timetable__card-icon {
  min-height: 3rem;
  min-width: 3rem;
  background: currentColor;
  margin-bottom: 3rem;

  &--rings {
    mask: url(../../../assets/rings.svg) center/cover;
  }

  &--drinking-classes {
    mask: url(../../../assets/drinking-classes.svg) center/cover;
  }
}


@media screen and (min-width: 800px) {
  .wedding-timetable__cards-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }
}
