<div class="wedding-timetable__container">

  <div class="wedding-timetable__header-container">
    <div class="wedding-timetable__header-line"></div>
    <h2 class="m-0">PULMAKAVA</h2>
    <div class="wedding-timetable__header-line"></div>
  </div>


  <div class="wedding-timetable__cards-container">

    <div class="wedding-timetable__card">
      <em class="wedding-timetable__card-icon wedding-timetable__card-icon--rings"></em>
      <h3>TSEREMOONIA</h3>
      <div class="wedding-timetable__card-information-text">15:00</div>
      <div class="wedding-timetable__card-separator"></div>
      <p class="wedding-timetable__card-information-text">
        Tseremoonia toimub Pärnu linnavalitsuses.
      </p>
    </div>

    <div class="wedding-timetable__card">
      <em class="wedding-timetable__card-icon wedding-timetable__card-icon--drinking-classes"></em>
      <h3>PULMAPIDU</h3>
      <div class="wedding-timetable__card-information-text">18:00</div>
      <div class="wedding-timetable__card-separator"></div>
      <p class="wedding-timetable__card-information-text">
        Pulmapidu toimub Reiu Rehetalus.
      </p>
    </div>

  </div>

</div>
