<div class="wedding-timetable__container">

  <div class="wedding-timetable__header-container">
    <div class="wedding-timetable__header-line"></div>
    <h2 class="m-0">PULMAKAVA</h2>
    <div class="wedding-timetable__header-line"></div>
  </div>


  <div class="wedding-timetable__cards-container">

    <div class="wedding-timetable__card">
      <em class="wedding-timetable__card-icon wedding-timetable__card-icon--rings"></em>
      <h3>TSEREMOONIA</h3>
      <p class="m-0">15:00</p>
      <div class="wedding-timetable__card-separator"></div>
      <p class="wedding-timetable__card-information--text">
        Ööbijatel palume tulla kohale mitte varem kui <strong>14:30</strong> ja
        teistel palume kohale tulla mitte hiljem kui <strong>14:50</strong>.
      </p>
    </div>

    <div class="wedding-timetable__card">
      <em class="wedding-timetable__card-icon wedding-timetable__card-icon--drinking-classes"></em>
      <h3>PULMAPIDU</h3>
      <p class="m-0 invisible">placeholder</p>
      <div class="wedding-timetable__card-separator"></div>
      <ul class="wedding-timetable__card-information--list">
        <li>Õhtusöök algab <strong>16:30</strong>.</li>
        <li>Avatants algab <strong>18:30</strong>.</li>
        <li>Pulmatort saabub <strong>22:30</strong>.</li>
      </ul>
    </div>

    <div class="wedding-timetable__card">
      <em class="wedding-timetable__card-icon wedding-timetable__card-icon--home"></em>
      <h3>CHECK-OUT</h3>
      <p class="m-0">12:00</p>
      <div class="wedding-timetable__card-separator"></div>
      <p class="wedding-timetable__card-information--text">
        Hommikusööki saab nautida alates kell <strong>09:00</strong>.
      </p>
    </div>

  </div>

</div>
